---
import GameCard from "../../components/GameCard.astro";

const response = await fetch(
    `https://api.rawg.io/api/games?key=${import.meta.env.RAWG_API_KEY}`
);
const data = await response.json();
---

<main class="homeMain">
    <h1>Welcome to the Games Archive</h1>
    <div class="gamesGrid">
        {
            data.results.map((game: any) => {
                return (
                    <GameCard
                        name={game.name}
                        imageUrl={game.background_image}
                        slug={game.slug}
                    />
                );
            })
        }
    </div>
</main>

<style>
    .homeMain {
        margin: auto;
        padding: clamp(10px, 2.32px + 1.81vw, 24px);
        max-width: 1200px;
    }
    .homeMain > h1 {
        text-align: center;
        margin-top: 0;
        view-transition-name: home-title;
    }
    .gamesGrid {
        display: grid;
        place-items: center;
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        width: 100%;
    }
</style>
