---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="view-transition" content="same-origin" />
		<script>
			import { startViewTransition } from "../utils/navigation";

			startViewTransition();
		</script>
		<title>{title}</title>
	</head>
	<body>
		<div id="mainContent">
			<slot />
		</div>
	</body>
</html>
<style is:global>
	:root {
		--color-1: #001524;
		--color-2: #15616d;
		--color-3: #ffecd1;
		--color-4: #FF7D00;
		--color-5: #78290f;
	}
	html {
		font-family: system-ui, sans-serif;
		color: #ffecd1;
		background-color: #001524;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
			DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	}

	::view-transition-new(game-page-header):only-child {
        animation: fromLeft 0.25s ease-out;
    }
    ::view-transition-old(game-page-header):only-child {
        animation: toLeft 0.25s ease-out;
    }
	::view-transition-new(home-title):only-child {
        animation: fromRight 0.25s ease-out;
    }
    ::view-transition-old(home-title):only-child {
        animation: toRight 0.25s ease-out;
    }

	@keyframes fromLeft {
        from {
            opacity: 0;
            transform: translateX(-50vw);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
	@keyframes toLeft {
        from {
            opacity: 1;
            transform: translateX(0);
        }
        to {
            opacity: 0;
            transform: translateX(-50vw);
        }
    }
    @keyframes fromRight {
        from {
            opacity: 0;
            transform: translateX(50vw);
        }
        to {
            opacity: 1;
            transform: translateX(0%);
        }
    }
    @keyframes toRight {
        from {
            opacity: 1;
            transform: translateX(0);
        }
        to {
            opacity: 0;
            transform: translateX(50vw);
        }
    }
</style>
